{% extends 'admin_base.html' %}
{% load static %}
{% block title %} Assign Tasks{% endblock %}

{% block content %}
<!-- ============================================================== -->
<!-- left sidebar -->
<!-- ============================================================== -->

{% include "sidebar.html" %}

<div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <a href="/" class="breadcrumb-link">Dashboard</a>
                                    <span> >>All Assign Tasks</span>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <!-- recent Requests  -->
                <!-- ============================================================== -->
                <div class="col-12 container bg-white">
                    <h3 class="card-header text-center mb-1 mt-3">My Assign Task </h3>
                    <h6 class="card-header text-center mb-1 mt-3">(except complete) </h6>
                    <div class="table-responsive">
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.tags == 'error' %}
                                    <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                                        {{ message }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                    </div>
                                {% else %}
                                    <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
                                        {{ message }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <table id="withdraw" class="table table-middle" style="width: 100%;">
                            <thead>
                                <tr align="center">
                                    <th>#</th>
                                    <th>Title</th>
                                    <th>Assigner</th>
                                    <th>Deadline</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                    <th>Task Details</th>
                                </tr>
                            </thead>

                            <tbody class="table-group-divider">
                                {% for i in assign_tasks %}
                                <tr align="center">
                                    <td>{{forloop.counter}}</td>
                                    <td>{{i.title}}</td>
                                    <td>{{i.creator}}</td>
                                    <td>{{i.deadline}}</td>

                                    <td>
                                        {% if i.status == 'pending' %}
                                        <b class="badge text-bg-warning" style="font-size:14px">{{i.status}}..</b>
                                        {% elif i.status == 'process'%}
                                        <span class="badge text-bg-success" style="font-size:14px">In-Process</span>
                                        {% elif i.status == 'change_request'%}
                                        <span class="badge text-bg-danger" style="font-size:14px">Change Requested</span>
                                        {% elif i.status == 'review'%}
                                        <span class="badge text-bg-dark" style="font-size:14px">Under Review</span>
                                        {% else %}
                                        <span class="badge text-bg-success" style="font-size:14px">Completed</span>
                                        {% endif %}
                                    </td>

                                    <td>
                                        {% if i.status == 'pending' %}
                                            <button class="btn btn-success" data-bs-toggle="modal"
                                                data-bs-target="#startwork{{i.id}}">Start Work
                                            </button>
                                        {% elif i.status == 'process' %}
                                            <button class="btn btn-warning" data-bs-toggle="modal"
                                                data-bs-target="#review_task{{i.id}}">Review Task
                                            </button>
                                        {% elif i.status == 'change_request' %}
                                            <button class="btn btn-danger" data-bs-toggle="modal"
                                                data-bs-target="#show_change_request{{i.id}}">View Change Request
                                            </button>
                                            <button class="btn btn-warning" data-bs-toggle="modal"
                                                data-bs-target="#review_task{{i.id}}">Review Task
                                            </button>

                                        {% elif i.status == 'review' %}
                                            <h2 class="badge text-bg-secondary" style="font-size: 16px;margin-bottom: -1px;">
                                                Under Review ..
                                            </h2>

                                        {% else %}
                                            <h2 class="badge text-bg-success" style="font-size: 16px;margin-bottom: -1px;">
                                                Completed
                                            </h2>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <i class="fa-solid fa-eye" data-bs-toggle="modal"
                                            data-bs-target="#mytaskDetail{{i.id}}"
                                            style="color:rgb(110, 203, 23); cursor: pointer;"></i>
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



            {% for i in assign_tasks %}

              <!-- task Review Confirm Model -->
                <div class="modal fade" id="startwork{{i.id}}" tabindex="-1" aria-labelledby="startwork"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" >
                                    Confirmation
                                </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="col-12">
                                <h6 class="text-center">
                                    Are you sure, You want to Start this task .
                                </h6>
                            </div>
                            <form action="/all_task/" method="post">
                                {% csrf_token %}
                                <input type="text" name="action" hidden value="status">
                                <input type="text" name="decision" hidden value="process">
                                <input type="number" name="task_id" value="{{i.id}}" hidden>
                                <table class="modal-body col-12 mb-3">
                                    <tr>
                                        <td align="center">
                                            <input type="submit" class="btn btn-outline-success text-center"
                                            value="Start Task">
                                        </td>
                                    </tr>

                                </table>
                            </form>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

              <!-- task Review Confirm Model -->
                <div class="modal fade" id="review_task{{i.id}}" tabindex="-1" aria-labelledby="Complete_task"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" >
                                    Confirmation
                                </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="col-12">
                                <h6 class="text-center">
                                    Are you sure, You want to change this task status to Review
                                </h6>
                            </div>
                            <form action="/all_task/" method="post">
                                {% csrf_token %}
                                <input type="text" name="action" hidden value="status">
                                <input type="text" name="decision" hidden value="review">
                                <input type="number" name="task_id" value="{{i.id}}" hidden>
                                <table class="modal-body col-12 mb-3">
                                    <tr>
                                        <td align="center">
                                            <input type="submit" class="btn btn-outline-success text-center"
                                            value="Review Task">
                                        </td>
                                    </tr>

                                </table>
                            </form>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- view task details Model -->
                <div class="modal fade" id="mytaskDetail{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">
                                    Task Details Detail
                                </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body ml-1">
                                {{i.description | linebreaks }}
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
</div>

<script>
    const targetDiv = document.getElementById("assign_task_div");
    const targetSubDiv = document.getElementById("assign_task_div_1");
    const targetnav = document.getElementById("assign_task_nav");
    const targetSubnav = document.getElementById("assign_task_nav_1");
    targetSubnav.classList.add("active");
    targetnav.classList.add("active");
    targetSubDiv.classList.add("active");
    targetDiv.classList.add("active");
</script>
{% endblock %}
